@use '@angular/material' as mat;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@include mat.core();

$Existence-primary: mat.define-palette(mat.$brown-palette, 900, A200, A700);
$Existence-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$Existence-warn: mat.define-palette(mat.$red-palette);

$Existence-light-theme: mat.define-light-theme((
  color: (
    primary: $Existence-primary,
    accent: $Existence-accent,
    warn: $Existence-warn,
  )
));

$Existence-dark-theme: mat.define-dark-theme((
  color: (
    primary: $Existence-primary,
    accent: $Existence-accent,
    warn: $Existence-warn,
  )
));

@include mat.all-component-themes($Existence-dark-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; color: white}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(15, 15, 15);
  color: white;
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Philosopher;
}

.text{
  font-family: Philosopher;
}

::-webkit-scrollbar, light-theme {
  width: 15px;
  overflow-y: scroll;
  background: #151515;
  top: -5px !important;
  //box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb, light-theme {
  background: #222222;
}

#cards {
  @apply grid grid-rows-2  gap-2
}

//Section for flow segments
#cards:hover > .card::after {
  opacity: 1;
}
#cards-website {
  //@apply grid grid-rows-2  gap-2
}

//Section for flow segments
#cards-website:hover > .card::after {
  opacity: 1;
}

#cards-app-details-glow:hover > .card::after {
  opacity: 1;
}

.cards-profile:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%
  );
  z-index: 3;
  pointer-events: none; /* Added this line */
}

.card::after {
  background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.card > .card-content > div > div:last-child > a {
  pointer-events: auto;
}

.card > .card-content-dark {
  background-color: #0f0f0f;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 5px;
  position: absolute;
  z-index: 2;
  //make the text unselectable
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.core-card {
  @apply  shadow-xl m-2.5 mt-8 sm:m-10 rounded-[20px] border-solid border border-[#2d2d2d] p-2.5
}


//Floating action buttons overriders
.mat-mdc-fab.mat-primary, .mat-mdc-mini-fab.mat-primary {
  --mdc-fab-container-color: transparent!important;
}

.title {
  font-family: Philosopher;
  font-size: 17px;
}

.subtitle {
  font-family: Roboto;
  font-size: 12px;
  color: gray;
}

.dynamic-url {
  font-family: Roboto;
  font-size: 12px;
}

.core-card-md {
  @apply relative m-2.5 shadow-xl sm:mx-auto sm:max-w-5xl rounded-[20px] border-solid border border-[#2d2d2d] backdrop-blur-md bg-neutral-900/40
}


//Toolbar styling
.logo {
  width: 80px;
  @apply transition-all ease-out duration-300;
}

.small .logo {
  width: 55px;
}

.toolbar-card{
  @apply relative m-2.5 shadow-xl sm:mx-auto sm:max-w-5xl rounded-[20px] border-solid border border-[#2d2d2d] backdrop-blur-md bg-neutral-900/40
}

.d-w{
  @apply max-w-[900px] transition-all ease-out duration-300 p-7;
}

.d-w.mini{
  @apply max-w-3xl transition-all ease-out duration-300 p-5;
}

//Overriding snackbar styles
.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  backdrop-filter: blur(12px); /* Apply the desired blur value */
  background-color: rgba(23, 23, 23, 0.73) !important; /* Apply the desired background color */
  color: white;

  @apply rounded-t-[20px] border-solid border border-[#2d2d2d]
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: white !important;
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
  color: rgb(28 34 126) !important;
  --mat-mdc-button-persistent-ripple-color: currentColor;
}


