<!--<div class="grid flex-col justify-center leading-tight">-->
<!--  <p class="text-sm item mb-0">© {{year}} Existence, Inc.</p>-->
<!--  <p class="text-sm item mb-0">All rights reserved. </p>-->
<!--  <p class="text-sm item mb-0">Siyabonga Kubeka</p>-->
<!--</div>-->
<div class="grid justify-center mb-5">
  <p class="text-sm item text-center">© {{year}} Existence, Inc.<br>All rights reserved.<br> <a
    class="text-slate-900 decoration-1 hover:underline  dark:text-gray-300 text-center"
    href="https://twitter.com/siyabon_ga" target="_blank">Siyabonga Kubeka</a>.</p>
</div>
