<div class="text-white text-2xl text justify-center grid item">Apps</div>
<div id="cards" class="px-6 sm:px-10 py-6 sm:py-8">
  <div class="card h-[93px] item">
    <div class="card-border"></div>
    <div class="card-content-dark" matRipple [matRippleColor]="groove_ripple" (click)="openGroove()">
      <div >
        <div class="flex flex-row m-2.5">
          <div class="grid place-items-center">
            <div class="social-logo-container item mr-3">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46"
                   viewBox="0 0 674 674">
                <defs>
                  <filter id="_6" x="87.899" y="498.28" width="367.322" height="173.901" filterUnits="userSpaceOnUse">
                    <feOffset dx="3" dy="9" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="7.5" result="blur"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                  <filter id="_5" x="73.208" y="21.422" width="514.29" height="173.901" filterUnits="userSpaceOnUse">
                    <feOffset dx="3" dy="9" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="7.5" result="blur-2"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur-2"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                  <filter id="_4" x="67.61" y="28.32" width="173.548" height="637.044" filterUnits="userSpaceOnUse">
                    <feOffset dx="3" dy="10" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="5" result="blur-3"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur-3"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                  <filter id="_3" x="438.842" y="265.572" width="173.548" height="399.792"
                          filterUnits="userSpaceOnUse">
                    <feOffset dx="3" dy="10" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="5" result="blur-4"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur-4"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                  <filter id="_2" x="297.953" y="257.072" width="321.937" height="173.901"
                          filterUnits="userSpaceOnUse">
                    <feOffset dx="3" dy="9" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="7.5" result="blur-5"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur-5"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                </defs>
                <g id="g7" transform="translate(-129 -129)">
                  <g id="g1" transform="translate(208.61 162.32)">
                    <g transform="matrix(1, 0, 0, 1, -79.61, -33.32)" filter="url(#_6)">
                      <rect id="_6-2" data-name="6" width="322.322" height="128.901" rx="33"
                            transform="translate(107.4 511.78)" fill="#d0d0d0"/>
                    </g>
                    <g transform="matrix(1, 0, 0, 1, -79.61, -33.32)" filter="url(#_5)">
                      <path id="_5-2" data-name="5"
                            d="M116.547,0h340.39A12.354,12.354,0,0,1,469.29,12.354v0A116.547,116.547,0,0,1,352.744,128.9H12.354A12.354,12.354,0,0,1,0,116.547v0A116.547,116.547,0,0,1,116.547,0Z"
                            transform="translate(92.71 34.92)" fill="#d0d0d0"/>
                    </g>
                    <g transform="matrix(1, 0, 0, 1, -79.61, -33.32)" filter="url(#_4)">
                      <path id="_4-2" data-name="4"
                            d="M123.749,0h0a19.8,19.8,0,0,1,19.8,19.8V483.3A123.749,123.749,0,0,1,19.8,607.044h0A19.8,19.8,0,0,1,0,587.245v-463.5A123.749,123.749,0,0,1,123.749,0Z"
                            transform="translate(79.61 33.32)" fill="#373737"/>
                    </g>
                    <g transform="matrix(1, 0, 0, 1, -79.61, -33.32)" filter="url(#_3)">
                      <path id="_3-2" data-name="3"
                            d="M123.749,0h0a19.8,19.8,0,0,1,19.8,19.8V246.044A123.749,123.749,0,0,1,19.8,369.792h0A19.8,19.8,0,0,1,0,349.992V123.749A123.749,123.749,0,0,1,123.749,0Z"
                            transform="translate(450.84 270.57)" fill="#373737"/>
                    </g>
                    <g transform="matrix(1, 0, 0, 1, -79.61, -33.32)" filter="url(#_2)">
                      <path id="_2-2" data-name="2"
                            d="M116.547,0H264.583a12.354,12.354,0,0,1,12.354,12.354v0A116.547,116.547,0,0,1,160.391,128.9H12.354A12.354,12.354,0,0,1,0,116.547v0A116.547,116.547,0,0,1,116.547,0Z"
                            transform="translate(317.45 270.57)" fill="#1b5e20"/>
                    </g>
                  </g>
                  <rect id="g2" width="674" height="674" transform="translate(129 129)" fill="none"/>
                </g>
              </svg>
            </div>
          </div>
          <div class="basis-1/2 grow z-[10] flex flex-col">
            <div class="basis-1/2 grow title item">Groove</div>
            <div class="subtitle item">Catch me outside</div>
            <div class="dynamic-url item">https://groove-l.app</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card h-[93px] item">
    <div class="card-border"></div>
    <div class="card-content-dark" matRipple [matRippleColor]="xflush_ripple" (click)="openXFlush()">
      <div >
        <div class="flex flex-row m-2.5">
          <div class="grid place-items-center">
            <div class="social-logo-container item mr-3">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46"
                   viewBox="0 0 691.325 689.83">
                <defs>
                  <filter id="x4" x="0" y="0" width="687.392" height="687.392" filterUnits="userSpaceOnUse">
                    <feOffset dy="11" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="7.5" result="blur"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                  <filter id="x3" x="146.061" y="144.566" width="545.264" height="545.264"
                          filterUnits="userSpaceOnUse">
                    <feOffset dy="11" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="7.5" result="blur-2"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur-2"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                  <filter id="x2" x="5.342" y="1.027" width="275.079" height="275.079" filterUnits="userSpaceOnUse">
                    <feOffset dy="11" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="7.5" result="blur-3"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur-3"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                </defs>
                <g id="x" transform="translate(-166.337 -169.706)">
                  <rect id="x5" width="674" height="674" transform="translate(175 175)" fill="none"/>
                  <g id="x1" transform="translate(18.534 29)">
                    <g transform="matrix(1, 0, 0, 1, 147.8, 140.71)" filter="url(#x4)">
                      <path id="x4-2" data-name="x4"
                            d="M126.1,0h0a20.175,20.175,0,0,1,20.175,20.175V742.032A20.175,20.175,0,0,1,126.1,762.208H20.175A20.175,20.175,0,0,1,0,742.032V126.1A126.1,126.1,0,0,1,126.1,0Z"
                            transform="translate(561.46 11.5) rotate(45)" fill="#373737"/>
                    </g>
                    <g transform="matrix(1, 0, 0, 1, 147.8, 140.71)" filter="url(#x3)">
                      <rect id="x3-2" data-name="x3" width="146.272" height="561.208" rx="45"
                            transform="translate(168.56 259.5) rotate(-45)" fill="#d0d0d0"/>
                    </g>
                    <g transform="matrix(1, 0, 0, 1, 147.8, 140.71)" filter="url(#x2)">
                      <path id="x2-2" data-name="x2"
                            d="M20.175,0a126.1,126.1,0,0,1,126.1,126.1v32.837A20.175,20.175,0,0,1,126.1,179.109H20.175A20.175,20.175,0,0,1,0,158.933V20.175A20.175,20.175,0,0,1,20.175,0Z"
                            transform="translate(27.84 115.96) rotate(-45)" fill="#880e4f"/>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div class="basis-1/2 grow z-[10] flex flex-col">
            <div class="basis-1/2 grow title item">XFlush</div>
            <div class="subtitle item">Buster Douglas</div>
            <div class="dynamic-url item">https://xflush.app</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card h-[93px] item">
    <div class="card-border"></div>
    <div class="card-content-dark" matRipple [matRippleColor]="afterlife_ripple" (click)="openAfterlife()">
      <div >
        <div class="flex flex-row m-2.5">
          <div class="grid place-items-center">
            <div class="social-logo-container item mr-3">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48"
                 viewBox="0 0 796.589 766">
              <defs>
                <filter id="a6" x="48.067" y="454.612" width="404.557" height="297.906"
                        filterUnits="userSpaceOnUse">
                  <feOffset dy="11" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="a5" x="341.635" y="453.381" width="404.916" height="306.69"
                        filterUnits="userSpaceOnUse">
                  <feOffset dy="11" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur-2"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur-2"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="a4" x="176.543" y="14.872" width="321.558" height="379.687"
                        filterUnits="userSpaceOnUse">
                  <feOffset dy="11" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur-3"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur-3"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="a3" x="0" y="301.613" width="334.583" height="402.247" filterUnits="userSpaceOnUse">
                  <feOffset dy="11" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur-4"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur-4"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="a2" x="292.65" y="11.929" width="503.939" height="695.58" filterUnits="userSpaceOnUse">
                  <feOffset dy="11" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur-5"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur-5"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
              </defs>
              <g id="a" transform="translate(-113.706 -129)">
                <rect id="a7" width="766" height="766" transform="translate(129 129)" fill="none"/>
                <g id="a1" transform="translate(-19.073 10.553)">
                  <g transform="matrix(1, 0, 0, 1, 132.78, 118.45)" filter="url(#a6)">
                    <path id="a6-2" data-name="a6"
                          d="M124.418,0a19.907,19.907,0,0,1,19.907,19.907V309.829a19.907,19.907,0,0,1-19.907,19.907A124.418,124.418,0,0,1,0,205.318v-80.9A124.418,124.418,0,0,1,124.418,0Z"
                          transform="translate(122.29 719.02) rotate(-111)" fill="#373737"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, 132.78, 118.45)" filter="url(#a5)">
                    <path id="a5-2" data-name="a5"
                          d="M124.418,0a19.907,19.907,0,0,1,19.907,19.907V309.829a19.907,19.907,0,0,1-19.907,19.907A124.418,124.418,0,0,1,0,205.318v-80.9A124.418,124.418,0,0,1,124.418,0Z"
                          transform="matrix(0.39, -0.92, 0.92, 0.39, 364.13, 597.73)" fill="#373737"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, 132.78, 118.45)" filter="url(#a4)">
                    <path id="a4-2" data-name="a4"
                          d="M124.418,0a19.907,19.907,0,0,1,19.907,19.907V283.23a19.907,19.907,0,0,1-19.907,19.907H19.907A19.907,19.907,0,0,1,0,283.23V124.418A124.418,124.418,0,0,1,124.418,0Z"
                          transform="translate(350.61 26.37) rotate(30)" fill="#450377"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, 132.78, 118.45)" filter="url(#a3)">
                    <path id="a3-2" data-name="a3"
                          d="M19.907,0H124.418a19.907,19.907,0,0,1,19.907,19.907V309.28a19.907,19.907,0,0,1-19.907,19.907A124.418,124.418,0,0,1,0,204.769V19.907A19.907,19.907,0,0,1,19.907,0Z"
                          transform="translate(187.09 313.11) rotate(30)" fill="#d0d0d0"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, 132.78, 118.45)" filter="url(#a2)">
                    <path id="a2-2" data-name="a2"
                          d="M124.418,0a19.907,19.907,0,0,1,19.907,19.907V647.992A19.907,19.907,0,0,1,124.418,667.9,124.418,124.418,0,0,1,0,543.481V124.418A124.418,124.418,0,0,1,124.418,0Z"
                          transform="translate(774.09 601.85) rotate(150)" fill="#d0d0d0"/>
                  </g>
                </g>
              </g>
            </svg>
            </div>
          </div>
          <div class="basis-1/2 grow z-[10] flex flex-col">
            <div class="basis-1/2 grow title item">AfterLife</div>
            <div class="subtitle item">Genesis</div>
            <div class="dynamic-url item">https://after-life.app</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card h-[93px] item">
    <div class="card-border"></div>
    <div class="card-content-dark" matRipple [matRippleColor]="truetime_ripple" (click)="openTrueTime()">
      <div >
        <div class="flex flex-row m-2.5">
          <div class="grid place-items-center">
            <div class="social-logo-container item mr-3">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46"
                 viewBox="0 0 710.376 691.948">
              <defs>
                <filter id="t4" x="275.493" y="51.504" width="190.539" height="640.444"
                        filterUnits="userSpaceOnUse">
                  <feOffset dx="3" dy="10" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="5" result="blur"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="t3" x="188.714" y="0.391" width="521.662" height="189.683" filterUnits="userSpaceOnUse">
                  <feOffset dx="3" dy="9" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur-2"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur-2"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="t2" x="0" y="8.891" width="201.44" height="174.683" filterUnits="userSpaceOnUse">
                  <feOffset dx="3" dy="10" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="5" result="blur-3"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur-3"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
              </defs>
              <g id="t" transform="translate(-164.124 -151)">
                <rect id="t5" width="674" height="674" transform="translate(175 151)" fill="none"/>
                <g id="t1" transform="translate(176.124 164.891)">
                  <g transform="matrix(1, 0, 0, 1, -12, -13.89)" filter="url(#t4)">
                    <path id="t4-2" data-name="t4"
                          d="M22.143,0H138.4a22.143,22.143,0,0,1,22.143,22.143V472.049a138.4,138.4,0,0,1-138.4,138.4h0A22.143,22.143,0,0,1,0,588.3V22.143A22.143,22.143,0,0,1,22.143,0Z"
                          transform="translate(287.49 56.5)" fill="#373737"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, -12, -13.89)" filter="url(#t3)">
                    <rect id="t3-2" data-name="t3" width="476.662" height="144.683" rx="45"
                          transform="translate(208.21 13.89)" fill="#d0d0d0"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, -12, -13.89)" filter="url(#t2)">
                    <path id="t2-2" data-name="t2"
                          d="M19.956,0H151.483A19.956,19.956,0,0,1,171.44,19.956V124.727a19.956,19.956,0,0,1-19.956,19.956H124.727A124.727,124.727,0,0,1,0,19.956v0A19.956,19.956,0,0,1,19.956,0Z"
                          transform="translate(12 13.89)" fill="#0d47a1"/>
                  </g>
                </g>
              </g>
            </svg>
            </div>
          </div>
          <div class="basis-1/2 grow z-[10] flex flex-col">
            <div class="basis-1/2 grow title item">TrueTime</div>
            <div class="subtitle item">Every Second</div>
            <div class="dynamic-url item">https://true-time.app</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card h-[93px] item">
    <div class="card-border"></div>
    <div class="card-content-dark" matRipple [matRippleColor]="cc_ripple" (click)="openCC()">
      <div >
        <div class="flex flex-row m-2.5">
          <div class="grid place-items-center">
            <div class="social-logo-container item mr-3">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46"
                 viewBox="0 0 674 681.5">
              <defs>
                <filter id="c4" x="74.5" y="489.5" width="348" height="192" filterUnits="userSpaceOnUse">
                  <feOffset dy="11" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="c3" x="400.5" y="489.5" width="225" height="192" filterUnits="userSpaceOnUse">
                  <feOffset dy="11" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur-2"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur-2"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="c2" x="160.5" y="16.5" width="465" height="192" filterUnits="userSpaceOnUse">
                  <feOffset dy="11" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur-3"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur-3"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="c1" x="48.5" y="15.5" width="192" height="666" filterUnits="userSpaceOnUse">
                  <feOffset dy="11" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur-4"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur-4"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
              </defs>
              <g id="c" transform="translate(-175 -175)">
                <rect id="c5" width="674" height="674" transform="translate(175 175)" fill="none"/>
                <g transform="matrix(1, 0, 0, 1, 175, 175)" filter="url(#c4)">
                  <path id="c4-2" data-name="c4"
                        d="M20.276,0H126.724A20.276,20.276,0,0,1,147,20.276v156A126.724,126.724,0,0,1,20.276,303h0A20.276,20.276,0,0,1,0,282.724V20.276A20.276,20.276,0,0,1,20.276,0Z"
                        transform="translate(400 501) rotate(90)" fill="#d0d0d0"/>
                </g>
                <g transform="matrix(1, 0, 0, 1, 175, 175)" filter="url(#c3)">
                  <path id="c3-2" data-name="c3"
                        d="M20.276,0h0A126.724,126.724,0,0,1,147,126.724v33A20.276,20.276,0,0,1,126.724,180H20.276A20.276,20.276,0,0,1,0,159.724V20.276A20.276,20.276,0,0,1,20.276,0Z"
                        transform="translate(603 501) rotate(90)" fill="#e74910"/>
                </g>
                <g transform="matrix(1, 0, 0, 1, 175, 175)" filter="url(#c2)">
                  <path id="c2-2" data-name="c2"
                        d="M20.276,0h95.043A31.681,31.681,0,0,1,147,31.681V293.276A126.724,126.724,0,0,1,20.276,420h0A20.276,20.276,0,0,1,0,399.724V20.276A20.276,20.276,0,0,1,20.276,0Z"
                        transform="translate(183 175) rotate(-90)" fill="#d0d0d0"/>
                </g>
                <g transform="matrix(1, 0, 0, 1, 175, 175)" filter="url(#c1)">
                  <path id="c1-2" data-name="c1"
                        d="M138.8,0h0A8.2,8.2,0,0,1,147,8.2V612.8a8.2,8.2,0,0,1-8.2,8.2h0A138.8,138.8,0,0,1,0,482.2V138.8A138.8,138.8,0,0,1,138.8,0Z"
                        transform="translate(71 27)" fill="#373737"/>
                </g>
              </g>
            </svg>
            </div>
          </div>
          <div class="basis-1/2 grow z-[10] flex flex-col">
            <div class="basis-1/2 grow title item">Cheat Codes</div>
            <div class="subtitle item">Matrix Bug</div>
            <div class="dynamic-url item">https://cheat-codes.app</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card h-[93px] item">
    <div class="card-border"></div>
    <div class="card-content-dark" matRipple [matRippleColor]="plates_ripple" (click)="openPlates()">
      <div >
        <div class="flex flex-row m-2.5">
          <div class="grid place-items-center">
            <div class="social-logo-container item mr-3">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46"
                 viewBox="0 0 674 710.942">
              <defs>
                <filter id="p7" x="399.529" y="0" width="169.93" height="439.073" filterUnits="userSpaceOnUse">
                  <feOffset dy="11" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="8" result="blur"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="p6" x="108.041" y="288.146" width="167.671" height="422.796"
                        filterUnits="userSpaceOnUse">
                  <feOffset dy="11" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur-2"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur-2"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="p5" x="105.156" y="286.031" width="463.687" height="169.62"
                        filterUnits="userSpaceOnUse">
                  <feOffset dy="11" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur-3"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur-3"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="p4" x="115.769" y="1.442" width="313.798" height="169.548" filterUnits="userSpaceOnUse">
                  <feOffset dy="11" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur-4"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur-4"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="p3" x="105.156" y="1.442" width="167.671" height="284.963" filterUnits="userSpaceOnUse">
                  <feOffset dy="11" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur-5"/>
                  <feFlood/>
                  <feComposite operator="in" in2="blur-5"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
              </defs>
              <g id="p" transform="translate(-175 -166.808)">
                <g id="p2" transform="translate(10.365 34.25)">
                  <g transform="matrix(1, 0, 0, 1, 164.64, 132.56)" filter="url(#p7)">
                    <path id="p7-2" data-name="p7"
                          d="M7.549,0h0A114.381,114.381,0,0,1,121.93,114.381V276.692A114.381,114.381,0,0,1,7.549,391.073h0A7.549,7.549,0,0,1,0,383.524V7.549A7.549,7.549,0,0,1,7.549,0Z"
                          transform="translate(423.53 13)" fill="#d0d0d0"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, 164.64, 132.56)" filter="url(#p6)">
                    <path id="p6-2" data-name="p6"
                          d="M27.071,0H101.21a21.461,21.461,0,0,1,21.461,21.461V276.586A101.21,101.21,0,0,1,21.461,377.8h0A21.461,21.461,0,0,1,0,356.335V27.071A27.071,27.071,0,0,1,27.071,0Z"
                          transform="translate(130.54 299.65)" fill="#d0d0d0"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, 164.64, 132.56)" filter="url(#p5)">
                    <path id="p5-2" data-name="p5"
                          d="M25.752,0H409.03a9.657,9.657,0,0,1,9.657,9.657v0A114.963,114.963,0,0,1,303.724,124.62H9.657A9.657,9.657,0,0,1,0,114.963V25.752A25.752,25.752,0,0,1,25.752,0Z"
                          transform="translate(127.66 297.53)" fill="#373737"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, 164.64, 132.56)" filter="url(#p4)">
                    <rect id="p4-2" data-name="p4" width="268.798" height="124.548" rx="33"
                          transform="translate(138.27 12.94)" fill="#373737"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, 164.64, 132.56)" filter="url(#p3)">
                    <path id="p3-2" data-name="p3"
                          d="M21.461,0H101.21a21.461,21.461,0,0,1,21.461,21.461V138.753a101.21,101.21,0,0,1-101.21,101.21h0A21.461,21.461,0,0,1,0,218.5V21.461A21.461,21.461,0,0,1,21.461,0Z"
                          transform="translate(127.66 12.94)" fill="#b71c1c"/>
                  </g>
                </g>
                <rect id="p1" width="674" height="674" transform="translate(175 175)" fill="none"/>
              </g>
            </svg>
            </div>
          </div>
          <div class="basis-1/2 grow z-[10] flex flex-col">
            <div class="basis-1/2 grow title item">Plates</div>
            <div class="subtitle item">Identity</div>
            <div class="dynamic-url item">https://n-plates.app</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card h-[93px] item">
    <div class="card-border"></div>
    <div class="card-content-dark" matRipple [matRippleColor]="plates_ripple" (click)="openInventions()">
      <div >
        <div class="flex flex-row m-2.5">
          <div class="grid place-items-center">
            <div class="social-logo-container item mr-3">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46" viewBox="0 0 674 709.376">
                <defs>
                  <filter id="sdfgfgsfgsfgf" x="245.158" y="187.714" width="189.683" height="521.662" filterUnits="userSpaceOnUse">
                    <feOffset dx="3" dy="9" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="7.5" result="blur"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                  <filter id="gsfgsfgsfg" x="252.658" y="0" width="174.683" height="201.44" filterUnits="userSpaceOnUse">
                    <feOffset dx="3" dy="10" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="5" result="blur-2"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur-2"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                </defs>
                <g id="Inventions" transform="translate(-175 -170.562)">
                  <g id="Group_47" data-name="Group 47" transform="translate(801.233 -0.562) rotate(90)">
                    <g transform="matrix(0, -1, 1, 0, 171.12, 626.23)" filter="url(#sdfgfgsfgsfgf)">
                      <path id="sdfgfgsfgsfgf-2" data-name="sdfgfgsfgsfgf" d="M45,0H431.662a45,45,0,0,1,45,45V99.683a45,45,0,0,1-45,45H45a45,45,0,0,1-45-45V45A45,45,0,0,1,45,0Z" transform="translate(409.34 201.21) rotate(90)" fill="#d0d0d0"/>
                    </g>
                    <g transform="matrix(0, -1, 1, 0, 171.12, 626.23)" filter="url(#gsfgsfgsfg)">
                      <path id="gsfgsfgsfg-2" data-name="gsfgsfgsfg" d="M19.956,0H151.483A19.956,19.956,0,0,1,171.44,19.956V124.727a19.956,19.956,0,0,1-19.956,19.956H124.727A124.727,124.727,0,0,1,0,19.956H0A19.956,19.956,0,0,1,19.956,0Z" transform="translate(409.34 5) rotate(90)" fill="#1a237e"/>
                    </g>
                  </g>
                  <rect id="Rectangle_85" data-name="Rectangle 85" width="674" height="674" transform="translate(175 175)" fill="none"/>
                </g>
              </svg>

            </div>
          </div>
          <div class="basis-1/2 grow z-[10] flex flex-col">
            <div class="basis-1/2 grow title item">Inventions</div>
            <div class="subtitle item">Where it all begins</div>
            <div class="dynamic-url item">https://inventions.app</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card h-[93px] item">
    <div class="card-border"></div>
    <div class="card-content-dark" matRipple [matRippleColor]="plates_ripple" (click)="openPlates()">
      <div >
        <div class="flex flex-row m-2.5">
          <div class="grid place-items-center">
            <div class="social-logo-container item mr-3">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46" viewBox="0 0 886.804 891.87">
                <defs>
                  <filter id="Path_32" x="0" y="166.009" width="361.638" height="485.065" filterUnits="userSpaceOnUse">
                    <feOffset dy="11" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="7.5" result="blur"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                  <filter id="_5564564564" x="219.541" y="663.14" width="211.688" height="228.731" filterUnits="userSpaceOnUse">
                    <feOffset dx="3" dy="10" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="5" result="blur-2"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur-2"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                  <filter id="Path_39" x="177.166" y="164.622" width="361.639" height="485.066" filterUnits="userSpaceOnUse">
                    <feOffset dy="11" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="7.5" result="blur-3"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur-3"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                  <filter id="r444556546" x="316.413" y="0" width="488.414" height="725.834" filterUnits="userSpaceOnUse">
                    <feOffset dx="3" dy="10" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="5" result="blur-4"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur-4"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                  <filter id="Path_40" x="525.166" y="166.009" width="361.639" height="485.066" filterUnits="userSpaceOnUse">
                    <feOffset dy="11" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="7.5" result="blur-5"/>
                    <feFlood/>
                    <feComposite operator="in" in2="blur-5"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                </defs>
                <g id="Group_48" data-name="Group 48" transform="translate(-71.246 -78.012)">
                  <g transform="matrix(1, 0, 0, 1, 71.25, 78.01)" filter="url(#Path_32)">
                    <path id="Path_32-2" data-name="Path 32" d="M103.448,436.633c9.141,0,16.552-5.827,16.552-13.014V13.014C120,5.827,112.59,0,103.448,0,46.315,0,0,36.416,0,81.337V355.3C0,400.217,46.315,436.633,103.448,436.633Z" transform="matrix(0.87, 0.48, -0.48, 0.87, 234.18, 177.51)" fill="#373737"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, 71.25, 78.01)" filter="url(#_5564564564)">
                    <path id="_5564564564-2" data-name="5564564564" d="M15.995,0H146.529a15.995,15.995,0,0,1,15.995,15.995v0a99.968,99.968,0,0,1-99.968,99.968H15.995A15.995,15.995,0,0,1,0,99.968V15.995A15.995,15.995,0,0,1,15.995,0Z" transform="translate(413.23 726.12) rotate(120)" fill="#827717"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, 71.25, 78.01)" filter="url(#Path_39)">
                    <path id="Path_39-2" data-name="Path 39" d="M103.448,0C112.59,0,120,5.827,120,13.014V423.62c0,7.187-7.41,13.014-16.552,13.014C46.315,436.634,0,400.218,0,355.3V81.337C0,36.416,46.315,0,103.448,0Z" transform="matrix(-0.87, 0.48, -0.48, -0.87, 516.3, 558.01)" fill="#d0d0d0"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, 71.25, 78.01)" filter="url(#r444556546)">
                    <path id="r444556546-2" data-name="r444556546" d="M103.448,0h0A16.552,16.552,0,0,1,120,16.552V712.516a16.552,16.552,0,0,1-16.552,16.552h-86.9A16.552,16.552,0,0,1,0,712.516V103.448A103.448,103.448,0,0,1,103.448,0Z" transform="matrix(0.87, 0.48, -0.48, 0.87, 681.87, 5)" fill="#373737"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, 71.25, 78.01)" filter="url(#Path_40)">
                    <path id="Path_40-2" data-name="Path 40" d="M103.448,0C112.59,0,120,5.827,120,13.014V423.62c0,7.187-7.41,13.014-16.552,13.014C46.315,436.634,0,400.218,0,355.3V81.337C0,36.416,46.315,0,103.448,0Z" transform="matrix(-0.87, 0.48, -0.48, -0.87, 864.3, 559.4)" fill="#d0d0d0"/>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div class="basis-1/2 grow z-[10] flex flex-col">
            <div class="basis-1/2 grow title item">MapMemory</div>
            <div class="subtitle item">Identity</div>
            <div class="dynamic-url item">https://n-plates.app</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
